@font-face {
    @font-face {
        font-family: 'OPTIEdgarBold-Extended';
        src: url('./fonts/OPTIEdgarBold-Extended.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }
    
}
body{
    font-family: 'OPTIEdgarBold-Extended', sans-serif;
    background-color: #F8FFF8;
	background-size: cover;
	margin: 0;
    padding: 0;
    height: 100%;
    color: #1E1E1E;
    font-size: 30px;
}
